[DAO_IMPL_PACKAGE]

import com.cnc.common.persistence.dao.BaseDaoImpl;
[DAO_IMPL_IMPORT]
import org.springframework.stereotype.Repository;

/**
 * @描述：[BEAN_NAME]Dao实现类
 * @作者:  Auto Code
 * @创建时间:  [NOW_DATE]
 * @版本: 1.0
 */
@Repository("[BEAN_NAME_LESS]Dao")
public class [BEAN_NAME]DaoImpl extends BaseDaoImpl<[BEAN_NAME]> implements [BEAN_NAME]Dao {

}
